[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "nvim/LazyVim"]
	path = nvim/LazyVim
	url = https://github.com/LazyVim/LazyVim
[submodule "agents/matpocock_skills_repo"]
	path = agents/matpocock_skills_repo
	url = https://github.com/mattpocock/skills.git
